# Getting started with Python! The basics

This notebook is aimed at giving the basics in Python programming for simple general basic usage, needed for energy modelling tasks.

For more material, please checkout the [LEarning material](https://www.youtube.com/c/CSDojo/playlists)

Note: this is a markdown cell

## Introduction to variables

In the following, the variable `a` is created with value 1 (type integer or `int` in python)

In [44]:
a = 1  # variable definition
a  # see the value (1)

1

Check the type of the variable `a`

In [45]:
type(a)

int

Other basic data structures in python are for examples strings, lists, tuples and dictionaries as here described.

In [46]:
b = "ciao"  # string type
c = [1, 2, 3]  # a list
d = (1, 2, 3)  # a tuple. Note it is immutable!

We see the content of the list `c` as example

In [47]:
c

[1, 2, 3]

Strings, lists and tuples are example of iterable elements: they contain ordered contents that can be get by index.
To get the first element, we can do as follows:

In [48]:
c[0]  # first element of the list

1

To get the last element, for example:

In [49]:
c[-1]

3

Lists can be modified after creation, such as, it is possible to add a new element.
The cell below describes an example and the results is shown.

In [50]:
c.append(4)  # add a new element to list
c

[1, 2, 3, 4]

Conversely to other programming software, lists can contain arbitrary data types.

We see the content of the list `c`, we can add a new string object `"ciao"`, as follows.

In [51]:
c.append("ciao")  # add a new element to list of another type
c

[1, 2, 3, 4, 'ciao']

Tuples are similar to lists, but they are immutable: once created, they cannot be changed.
In fact, there is no method `"append"` for tuples

In [52]:
d.append(4)  # Tuples are immutable: impossible to add a new element!

AttributeError: 'tuple' object has no attribute 'append'

A special data type is a dictionary, that contains arbitrary-indexed objects.
Please, check out the following code and let's compare it to lists.


Dictionaries can create univoque relationship between so-called `keys` and their `values`.
In the following example, the int 4, the str "c" and the tuple (1,2) are the keys, whose values are
the list [2,2], the tuple (1,) and the int 1.

As shown `keys` and `values` can contain different object types.

In [53]:
dict_obj = {  # A dictionary
    4: [2,2],
    "c": (1,),
    (1, 2): 1,
}
dict_obj

{4: [2, 2], 'c': (1,), (1, 2): 1}

First of all, standard dictionary objects ARE NOT ordered. Therefore, there is no first and no last element for standard dictionaries.

In [54]:
dict_obj[0]

KeyError: 0

The dictionary objects are got by key; for example, in the following, we get the value corresponding to the key (1,2)

In [55]:
dict_obj[(1,2)]

1

## Iterative loops

In [56]:
print("c: " + str(c) + "\n")

i = 0
for v in c:  # this loops over the content of c
    i += 1
    print(str(i) + ": " + str(v))

c: [1, 2, 3, 4, 'ciao']

1: 1
2: 2
3: 3
4: 4
5: ciao

## Functions

In [57]:
def custom_sum(a, b):  # this is a definition of a function
    return a+b

custom_sum(1, 2)

3

In [58]:
c = lambda a,b: a+b  # but also this is a function

c(1,2)

3

## Custom data structures (classes)

In [59]:
class House:
    def __init__(self, name, n_rooms, n_bedrooms):  # this is the constructor function that is executed on start

        if n_bedrooms > n_rooms:
            print(f"ERROR: selected more bedrooms {n_bedrooms} than rooms {n_rooms}")

        self.name = name
        self.n_rooms = n_rooms
        self.n_bedrooms = n_bedrooms

    def add_bedroom(self):  # this is function applied to the object
        self.n_rooms = self.n_rooms + 1
        self.n_bedrooms = self.n_bedrooms + 1
    
    def print(self):
        print(f"House '{self.name}' with {self.n_rooms} rooms, of which {self.n_bedrooms} bedrooms")

Some examples of classes definition

In [60]:
h1 = House("casa1", 3, 2)
h2 = House("casa2", 4, 2)
h1.print()
h2.print()

House 'casa1' with 3 rooms, of which 2 bedrooms
House 'casa2' with 4 rooms, of which 2 bedrooms

## Importing packages

In [61]:
import pandas as pd  # import the entire package with name pd
from pandas import DataFrame  # import specific objects from a package

Examples of dataframe: they represent data tables and are very useful for data analysis

In [62]:
data = {
    "sources": ["coal", "oil", "solar"],
    "quantity": [10, 100, 1000],
}

df = pd.DataFrame(data)
df

  sources  quantity
0    coal        10
1     oil       100
2   solar      1000

get the first element. Note that the index is by row

In [63]:
df.loc[0]

sources     coal
quantity      10
Name: 0, dtype: object

check the index

In [64]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [65]:
df.set_index("sources", inplace=True)  # this is equivalent to df = df.set_index("sources")
df

         quantity
sources
coal           10
oil           100
solar        1000

this throws an error as the index as changed

In [66]:
df.loc[0]

KeyError: 0

In [67]:
df.loc["coal"]

quantity    10
Name: coal, dtype: int64

In [68]:
df.iloc[0]

quantity    10
Name: coal, dtype: int64

An example on how to apply functions on dataframes

In [69]:
df.quantity.sum()

1110